{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content %}
<form method="GET">
    <div class="list-group">
        <ul>
            <li class="list-group-item">
                <a href="https://www.amazon.com/dp/1736049127/?coliid=I2TUVULKHDKMED&colid=1EC1KPOAYLD6K&psc=1&ref_=list_c_wl_lv_ov_lig_dp_it">Book1</a>
            </li>
            <li class="list-group-item">
                <a href="https://www.amazon.com/dp/1804611557/?coliid=I3I0PPKM39WUVA&colid=1EC1KPOAYLD6K&psc=1&ref_=list_c_wl_lv_ov_lig_dp_it">Book2</a>
            </li>
            <li class="list-group-item">
                <a href="https://www.amazon.com/dp/1718500408/?coliid=I2LR4Q76SCQZOS&colid=1EC1KPOAYLD6K&psc=1&ref_=list_c_wl_lv_ov_lig_dp_it">Linux Book</a>
            </li>
            <li class="list-group-item">
                <a href="https://www.amazon.com/dp/B0C2MHG632/?coliid=I1VKZQ6U3CAD1G&colid=1EC1KPOAYLD6K&psc=1&ref_=list_c_wl_lv_ov_lig_dp_it">LED Lights</a>
            </li>
            <li class="list-group-item">
                <a href="https://www.amazon.com/dp/B07PJ7XZ7X/?coliid=IUTG6M4CTTU0N&colid=1EC1KPOAYLD6K&psc=1&ref_=list_c_wl_lv_ov_lig_dp_it">5 Port Managed Switch</a>
            </li>
            <li class="list-group-item">
                <a href="https://www.amazon.com/dp/B08M5SDD7W/?coliid=I1OOAF6A6A4NPZ&colid=1EC1KPOAYLD6K&psc=1&ref_=list_c_wl_lv_ov_lig_dp_it">Tactical Dog Vest</a>
            </li>
        </ul>
    </div>
</form>
{% endblock %}